<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-link active" aria-current="page" href="/">Volver a la página principal</a>
                <a class="nav-link active" aria-current="page" href="/about">¿Quién Soy?</a>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/categorias">Categorias</a>
              </li>
            </form>
          </div>
        </div>
      </nav>
      
    <form action="/edit/" method="post">
        <input type="hidden" value="<%= producto.id%>" name="id">
        <label for="Nombre">Nombre</label>
        <input class="form-control" type="text" name="Nombre" id="Nombre" value="<%= producto.Nombre %>" placeholder="Nombre" required>
        <label for="Codigo">Codigo</label>
        <input class="form-control" type="number" name="Codigo" id="Codigo" value="<%= producto.Codigo %>" placeholder="Codigo" required>
        <label for="Precio">Precio</label>
        <input class="form-control" type="number" name="Precio" id="Precio" value="<%= producto.Precio %>" placeholder="Precio" required>
        <label for="Descripcion">Descripcion</label>
        <input class="form-control" type="text" name="Descripcion" id="Descripcion" value="<%= producto.Descripcion %>" placeholder="Descripcion" required>
        <label for="FCardiaca">FCardiaca</label>
        <input class="form-control" type="number" name="FCardiaca" id="FCardiaca" value="<%= producto.FCardiaca %>" placeholder="FCardiaca" required>
        <label for="DRecorrida">DRecorrida</label>
        <input class="form-control" type="number" name="DRecorrida" id="DRecorrida" value="<%= producto.DRecorrida %>" placeholder="DRecorrida" required>
        <label for="Correo">Correo</label>
        <input class="form-control" type="text" name="Correo" id="Correo" value="<%= producto.Correo %>" placeholder="Correo" required>
        <label for="categoria_id">Categoria</label>
        <select class="form-select" aria-label="Default select example" name="categoria_id" id="categoria_id"required>
            <option value="1">Sony</option>
            <option value="2">Samsung</option>
            <option value="3">Apple</option>
            <option value="4">LG</option>
            <option value="5">Samsung Gear 2</option>
            <option value="6">Motorola</option>
            <option value="7">Huawei</option>
        </select>
        <button class="btn btn-danger" type="submit">Editar</button>
    </form>
</body>
</html>