</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title><%=Rafael Funes%></title>
</head>
<body>
    <div>
        <h1><%=Rafael Angel Funes Martínez%></h1>
        
            <ul>
                <li><span><%=Fecha de Nacimiento:%></span>><%= 22/04/2004%></li>
                <li><span><%=Cedula:</span> 30.874.062%></li>
                <li><span><%=Email:</span> rufax22@gmail.com%></li>
            </ul>